<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ReceiveBubble_backGround</key>
	<string>FFFFFF</string>
	<key>ReceiveBubble_backGroundA</key>
	<integer>1</integer>
	<key>ReceiveBubble_cornerRadius</key>
	<integer>8</integer>
	<key>ReceiveText_Color</key>
	<string>262626</string>
	<key>SenderBubble_backGround</key>
	<string>D5E1F7</string>
	<key>SenderBubble_backGroundA</key>
	<integer>1</integer>
	<key>SenderBubble_cornerRadius</key>
	<integer>8</integer>
	<key>SenderText_Color</key>
	<string>262626</string>
	<key>Chat_backGround</key>
	<string>EFF1F5</string>
	<key>Chat_backGroundA</key>
	<real>0.8</real>
	<key>Chat_time_textColor</key>
	<string>595959</string>
	<key>Chat_time_textColorA</key>
	<real>0.8</real>
	<key>Portrait_cornerRadius</key>
	<integer>5</integer>
	<key>QuickEntryBottom_backgroundColor</key>
	<string>F3F6F9</string>
	<key>QuickEntryBottom_backgroundColorA</key>
	<integer>1</integer>
	<key>QuickEntryItem_cornerRadius</key>
	<integer>12</integer>
	<key>QuickEntryItem_backgroundColor</key>
	<string>F3F6F9</string>
	<key>QuickEntryItem_backgroundColorA</key>
	<integer>1</integer>
	<key>ChatBox_voiceButton_enable</key>
	<true/>
	<key>ChatBox_textview_placeholder</key>
	<string></string>
	<key>imagePicker_barItemTextColor</key>
	<string>FFFFFF</string>
	<key>imagePicker_naviBgColor</key>
	<string>000000</string>
	<key>ChatBox_backGroundColor</key>
	<string>F1F1F8</string>
	<key>ChatBox_backGroundColorA</key>
	<real>0.8</real>
	<key>ChatBox_lineColor</key>
	<string>E8E8E8</string>
	<key>Toast_textColor</key>
	<string>FFFFFF</string>
	<key>Toast_backGroundColor</key>
	<string>000000</string>
	<key>Toast_backGroundColorA</key>
	<real>0.7</real>
	<key>Chat_tosRobotName_show</key>
	<true/>
	<key>Chat_visitorName_show</key>
	<true/>
	<key>Chat_tosRobotName_enable</key>
	<true/>
	<key>Chat_visitorName_enable</key>
	<true/>
	<key>Chat_tosRobot_portrait_enable</key>
	<true/>
	<key>Chat_visitor_portrait_enable</key>
	<true/>
	<key>VoiceButton_textColor</key>
	<string>434343</string>
	<key>VoiceButton_textColorA</key>
	<real>0.7</real>
	<key>VoiceButton_highlight_textColor</key>
	<string>B2B2B2</string>
	<key>VoiceButton_highlight_textColorA</key>
	<real>0.5</real>
	<key>CommodityCard_sendBtn_backgroundColor</key>
	<string>1366DC</string>
	<key>CommodityCard_sendBtn_textColor</key>
	<string>FFFFFF</string>
	<key>CommodityCard_title_textColor</key>
	<string>262626</string>
	<key>CommodityCard_price_textColor</key>
	<string>ff0000</string>
	<key>CommodityCardDetails_orderId_sender_textColor</key>
	<string>262626</string>
	<key>CommodityCardDetails_orderId_receive_textColor</key>
	<string>000000</string>
	<key>CommodityCardDetails_time_sender_textColor</key>
	<string>262626</string>
	<key>CommodityCardDetails_time_receive_textColor</key>
	<string>000000</string>
	<key>CommodityCardDetails_title_sender_textColor</key>
	<string>262626</string>
	<key>CommodityCardDetails_title_receive_textColor</key>
	<string>000000</string>
	<key>CommodityCardDetails_description_sender_textColor</key>
	<string>8A8D9A</string>
	<key>CommodityCardDetails_description_receive_textColor</key>
	<string>000000</string>
	<key>CommodityCardDetails_price_sender_textColor</key>
	<string>ff0000</string>
	<key>CommodityCardDetails_price_receive_textColor</key>
	<string>ff0000</string>
	<key>CommodityCardDetails_transportStatus_sender_textColor</key>
	<string>262626</string>
	<key>CommodityCardDetails_transportStatus_receive_textColor</key>
	<string>000000</string>
</dict>
</plist>
