<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>value</key>
			<string>经典样式</string>
			<key>title</key>
			<string>聊天窗口UI样式</string>
			<key>selectionStyle</key>
			<integer>0</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>#595959</string>
			<key>title</key>
			<string>时间色值</string>
			<key>selectionStyle</key>
			<integer>0</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>0</string>
			<key>title</key>
			<string>昵称和气泡之间的间距</string>
			<key>selectionStyle</key>
			<integer>0</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>0</string>
			<key>title</key>
			<string>最后一条消息距离输入区域的间距</string>
			<key>selectionStyle</key>
			<integer>0</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>1</string>
			<key>title</key>
			<string>客服/机器人昵称显示</string>
			<key>selectionStyle</key>
			<integer>0</integer>
			<key>cellType</key>
			<string>MineSwitchTableViewCell</string>
			<key>accessoryType</key>
			<integer>0</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>1</string>
			<key>title</key>
			<string>访客昵称显示</string>
			<key>selectionStyle</key>
			<integer>0</integer>
			<key>cellType</key>
			<string>MineSwitchTableViewCell</string>
			<key>accessoryType</key>
			<integer>0</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>1</string>
			<key>title</key>
			<string>客服/机器人头像显示</string>
			<key>selectionStyle</key>
			<integer>0</integer>
			<key>cellType</key>
			<string>MineSwitchTableViewCell</string>
			<key>accessoryType</key>
			<integer>0</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>1</string>
			<key>title</key>
			<string>访客头像显示</string>
			<key>selectionStyle</key>
			<integer>0</integer>
			<key>cellType</key>
			<string>MineSwitchTableViewCell</string>
			<key>accessoryType</key>
			<integer>0</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>value</key>
			<string>#F3F6F9</string>
			<key>title</key>
			<string>输入区域背景色值</string>
			<key>selectionStyle</key>
			<integer>2</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>#FFFFFF</string>
			<key>title</key>
			<string>输入框背景色值</string>
			<key>selectionStyle</key>
			<integer>2</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>8</string>
			<key>title</key>
			<string>输入框圆角值</string>
			<key>selectionStyle</key>
			<integer>2</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>#E8E8E8</string>
			<key>title</key>
			<string>输入区分割线</string>
			<key>selectionStyle</key>
			<integer>2</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>1.0</string>
			<key>title</key>
			<string>输入区分割线高度</string>
			<key>selectionStyle</key>
			<integer>2</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>#BFBFBF</string>
			<key>title</key>
			<string>语音按钮色值</string>
			<key>selectionStyle</key>
			<integer>2</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>按住 说话</string>
			<key>title</key>
			<string>语音按钮默认文案</string>
			<key>selectionStyle</key>
			<integer>2</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>松开 结束</string>
			<key>title</key>
			<string>语音按钮长按文案</string>
			<key>selectionStyle</key>
			<integer>2</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>16</string>
			<key>title</key>
			<string>语音按钮文案字体</string>
			<key>selectionStyle</key>
			<integer>2</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>0.5</string>
			<key>title</key>
			<string>语音按钮边框</string>
			<key>selectionStyle</key>
			<integer>2</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>#E8E8E8</string>
			<key>title</key>
			<string>语音按钮边框颜色</string>
			<key>selectionStyle</key>
			<integer>2</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>#00000000</string>
			<key>title</key>
			<string>录制语音的按钮背景颜色</string>
			<key>selectionStyle</key>
			<integer>2</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>#B2B2B2</string>
			<key>title</key>
			<string>录制语音的按钮按住背景颜色</string>
			<key>selectionStyle</key>
			<integer>2</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>#434343</string>
			<key>title</key>
			<string>录制语音的按钮按住字体颜色</string>
			<key>selectionStyle</key>
			<integer>2</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>您好!请输入您要咨询的问题</string>
			<key>title</key>
			<string>输入框暗文提示语</string>
			<key>selectionStyle</key>
			<integer>2</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>#808080</string>
			<key>title</key>
			<string>输入框暗文提示语色值</string>
			<key>selectionStyle</key>
			<integer>2</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>10</string>
			<key>title</key>
			<string>输入框暗文提示语距左侧距离</string>
			<key>selectionStyle</key>
			<integer>2</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string></string>
			<key>title</key>
			<string>输入区域的快捷入口</string>
			<key>selectionStyle</key>
			<integer>2</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>value</key>
			<string>#FFFFFF</string>
			<key>title</key>
			<string>吐司提示背景色值</string>
			<key>selectionStyle</key>
			<integer>0</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>#BFBFBF</string>
			<key>title</key>
			<string>吐司提示文字色值</string>
			<key>selectionStyle</key>
			<integer>0</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>value</key>
			<string>#FFFFFF</string>
			<key>title</key>
			<string>相册导航栏背景色值</string>
			<key>selectionStyle</key>
			<integer>0</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>#262626</string>
			<key>title</key>
			<string>相册导航栏文字色值</string>
			<key>selectionStyle</key>
			<integer>0</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>value</key>
			<string>4.0</string>
			<key>title</key>
			<string>删除按钮的圆角</string>
			<key>selectionStyle</key>
			<integer>0</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>发送</string>
			<key>title</key>
			<string>发送按钮文案</string>
			<key>selectionStyle</key>
			<integer>0</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>发送</string>
			<key>title</key>
			<string>发送按钮高亮文案</string>
			<key>selectionStyle</key>
			<integer>0</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>49,38</string>
			<key>title</key>
			<string>发送按钮大小</string>
			<key>selectionStyle</key>
			<integer>0</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>#4385FF</string>
			<key>title</key>
			<string>发送按钮背景色</string>
			<key>selectionStyle</key>
			<integer>0</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>16,16</string>
			<key>title</key>
			<string>发送按钮布局时的外边距</string>
			<key>selectionStyle</key>
			<integer>0</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>4.0</string>
			<key>title</key>
			<string>发送按钮的圆角</string>
			<key>selectionStyle</key>
			<integer>0</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>14.0</string>
			<key>title</key>
			<string>发送按钮字体</string>
			<key>selectionStyle</key>
			<integer>0</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>#FFFFFF</string>
			<key>title</key>
			<string>发送按钮默认的文字颜色</string>
			<key>selectionStyle</key>
			<integer>0</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>#FFFFFF</string>
			<key>title</key>
			<string>发送按钮高亮的文字颜色</string>
			<key>selectionStyle</key>
			<integer>0</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>22.0</string>
			<key>title</key>
			<string>分页控件距离底部的间距</string>
			<key>selectionStyle</key>
			<integer>0</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
		<dict>
			<key>value</key>
			<string>0</string>
			<key>title</key>
			<string>是否在删除和发送按钮下方显示表情</string>
			<key>selectionStyle</key>
			<integer>0</integer>
			<key>cellType</key>
			<string>MineTextTableCell</string>
			<key>accessoryType</key>
			<integer>1</integer>
			<key>valueHighlighted</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
