<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>styleName</key>
		<string>经典样式</string>
		<key>isSelected</key>
		<integer>1</integer>
		<key>backgroundImage</key>
		<string>customStyles_classic</string>
		<key>senderBubble_backGround</key>
		<string>D5E1F7</string>
		<key>senderBubble_cornerRadius</key>
		<integer>8</integer>
		<key>receiveBubble_backGround</key>
		<string>FFFFFF</string>
		<key>receiveBubble_cornerRadius</key>
		<integer>8</integer>
		<key>chat_backGround</key>
		<string>EFF1F5</string>
		<key>portrait_cornerRadius</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>styleName</key>
		<string>蓝色商务风</string>
		<key>isSelected</key>
		<integer>0</integer>
		<key>backgroundImage</key>
		<string>customStyles_blue</string>
		<key>senderBubble_backGround</key>
		<string>CBF3FF</string>
		<key>senderBubble_cornerRadius</key>
		<integer>4</integer>
		<key>receiveBubble_backGround</key>
		<string>FFFFFF</string>
		<key>receiveBubble_cornerRadius</key>
		<integer>4</integer>
		<key>chat_backGround</key>
		<string>EFF3F5</string>
		<key>portrait_cornerRadius</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>styleName</key>
		<string>黄色圆润风</string>
		<key>isSelected</key>
		<integer>0</integer>
		<key>backgroundImage</key>
		<string>customStyles_yellow</string>
		<key>senderBubble_backGround</key>
		<string>FFF5C0</string>
		<key>senderBubble_cornerRadius</key>
		<integer>20</integer>
		<key>receiveBubble_backGround</key>
		<string>FFFFFF</string>
		<key>receiveBubble_cornerRadius</key>
		<integer>20</integer>
		<key>chat_backGround</key>
		<string>FBF9ED</string>
		<key>portrait_cornerRadius</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>styleName</key>
		<string>红色绅士风</string>
		<key>isSelected</key>
		<integer>0</integer>
		<key>backgroundImage</key>
		<string>customStyles_red</string>
		<key>senderBubble_backGround</key>
		<string>F7DBD5</string>
		<key>senderBubble_cornerRadius</key>
		<integer>4</integer>
		<key>receiveBubble_backGround</key>
		<string>FFFFFF</string>
		<key>receiveBubble_cornerRadius</key>
		<integer>4</integer>
		<key>chat_backGround</key>
		<string>F9F3F2</string>
		<key>portrait_cornerRadius</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>styleName</key>
		<string>绿色田园风</string>
		<key>isSelected</key>
		<integer>0</integer>
		<key>backgroundImage</key>
		<string>customStyles_green</string>
		<key>senderBubble_backGround</key>
		<string>BEF6CD</string>
		<key>senderBubble_cornerRadius</key>
		<integer>6</integer>
		<key>receiveBubble_backGround</key>
		<string>FFFFFF</string>
		<key>receiveBubble_cornerRadius</key>
		<integer>6</integer>
		<key>chat_backGround</key>
		<string>EFF5F1</string>
		<key>portrait_cornerRadius</key>
		<integer>8</integer>
	</dict>
</array>
</plist>
